- name: Install Maven for java
  ansible.builtin.yum:
    name: maven
    state: installed

- name: Install application content
  ansible.builtin.import_tasks:
    file: prereq.yml

- name: Install Java Dependencies
  ansible.builtin.shell: mvn clean package ; mv target/{{component}}-1.0.jar {{component}}.jar
  args:
    chdir: /app

- name: MySQL Schema Setup
  ansible.builtin.import_tasks:
    file: schema_setup

- name: Install SystemD service
  ansible.builtin.import_tasks:
    file: systemd_setup



#
#print_head Install Maven for java
#yum install maven -y &>>$log_file
#func_status $?
#
#print_head Install application content
#func_prereq
#
#print_head Install Java Dependencies
#mvn clean package &>>$log_file
#mv target/${component}-1.0.jar ${component}.jar &>>$log_file
#func_status $?
#
#schema_setup
#func_systemd_setup